#bioExtended {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

#bioExtended > img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

#bioExtendedContainer {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#bioExtendedContainer > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  background: rgb(252, 229, 98);
}

#bioExtendedContainer > header > button {
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

#bioExtendedContainer > header > button:hover {
  color: red !important;
}

#bioSection {
  max-width: 80%;
  margin: auto;
  font-size: 1.1em;
  background: rgb(252, 229, 98);
  border-radius: 0 0 50px 50px;
}

#bioExtendedContainer > section {
  padding: 2rem;
}
