#faq {
  min-height: 100vh;
  padding-top: 10vh;
  position: relative;
  color: teal;
}

#faqHeader {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  top: 0;
  left: 0;
}

#faqHeader > button {
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  color: teal;
}

#faqHeader > button:hover {
  color: black;
  cursor: pointer;
}
