#bio {
  position: relative;
}

#selfie {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  opacity: 0.4;
  z-index: -1;
}

#landingContainer {
  display: flex;
  padding-top: 20vh;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 100vh;
}

#landingBio {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

#landingBio > header {
  text-align: center;
}

#landingBio > header > h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#landingBio > header > h2 {
  font-size: 2.5rem;
}

#landingNav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem;
  font-size: 2rem;
}

#landingNav > button:hover {
  cursor: pointer;
}

#landingLinks {
  font-size: 1.5rem;
}

#bioToggleBtn {
  background: none;
  outline: none;
  border: none;
  font-size: 2.5rem;
  color: grey;
}

#bioToggleBtn > p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#bioToggleBtn > p:hover {
  color: black;
  cursor: pointer;
}
