#bio {
  position: relative;
}

#selfie {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  opacity: 0.1;
  z-index: -1;
}

#landingContainer {
  display: flex;
  padding-top: 20vh;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 100vh;
}

#landingBio {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

#landingBio > header {
  text-align: center;
}

#landingBio > header > h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#landingBio > header > h2 {
  font-size: 2.5rem;
}

#landingNav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem;
  font-size: 2rem;
}

#landingLinks {
  font-size: 1.5rem;
}
