@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

#nav {
  background: rgb(255, 255, 255);
  min-height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  z-index: 2;
  border-bottom: 1px solid grey;
}

#nav > a {
  color: rgb(116, 116, 116);
}

#nav > a:hover {
  color: black;
}

.navBtn {
  background: none;
  outline: none;
  border: none;
  font-size: 2.5rem;
  margin-top: 2rem;
  color: rgb(146, 146, 146);
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

.navBtn:hover {
  color: black;
}

.navbarNav {
  font-size: 1em;
  margin-top: 0;
  color: grey;
}

.navbarNav:hover {
  color: black;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navBtn {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
