#portfolio {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
}

#portfolioCardCont {
  display: flex;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

#scrollLeftBtn {
  left: 0;
}

#scrollRightBtn {
  right: 0;
}

@media (max-width: 800px) {
  #portfolio {
    width: 100%;
  }
}
