#portfolio {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

#portfolioCardCont {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

.portfolioScrollBtn {
  position: sticky;
  background: none;
  opacity: 0.4;
  padding: 0 2rem;
  top: 40%;
  border: none;
  font-size: 3rem;
  -webkit-appearance: none;
  color: black;
  z-index: 3;
  outline: none;
}

.portfolioScrollBtn:hover {
  opacity: 1;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.603);
  color: white;
}

#scrollLeftBtn {
  left: 0;
}

#scrollRightBtn {
  right: 0;
}
