.pdContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.pdHeaderRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.pdHeaderRow > button {
  background: none;
  outline: none;
  border: none;
  -webkit-appearance: none;
}

.pdLinkRow {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.pdLink {
  font-size: 1.5rem;
  color: rgb(149, 149, 250);
}

.pdLink:hover {
  color: rgb(58, 58, 179);
}

.pdImgAndDetails {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

.pdImg {
  max-width: 40%;
}

.pdDetails {
  padding: 2rem;
  max-width: 50%;
  text-align: center;
}

@media (max-width: 800px) {
  .pdContainer {
    padding: 1;
  }
  .pdHeaderRow {
    flex-direction: column;
  }
  .pdLink {
    font-size: 1rem;
    margin: 0 1rem;
  }
  .pdImg {
    min-width: 100%;
  }
  .pdDetails {
    max-width: 100%;
    padding: 0;
  }
  .pdTitle {
    font-size: 1.8rem;
  }
}
