.pdContainer {
  flex: 1;
  min-width: 40%;
  display: flex;
  padding: 2rem;
}

.pdLink {
  font-size: 1.2em;
  color: rgb(149, 149, 250);
  margin: 0 2rem;
}

.pdLink:hover {
  color: rgb(58, 58, 179);
}

.pdBody {
  font-size: 1.1em;
}

.pdTech {
  font-style: italic;
}

.pdImgAndDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pdImg {
  max-width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pdDetails {
  padding: 2rem;
  text-align: center;
}

@media (max-width: 1040px) {
  .pdContainer {
    min-width: 80%;
  }
}

@media (max-width: 800px) {
  .pdContainer {
    padding: 1rem;
    max-width: 90%;
  }
  .pdHeaderRow {
    flex-direction: column;
  }
  .pdLink {
    font-size: 1rem;
    margin: 0 1rem;
  }
  .pdImg {
    min-width: 100%;
  }
  .pdDetails {
    max-width: 100%;
    padding: 0;
  }
  .pdTitle {
    font-size: 1.8rem;
  }
}
