.pcCont {
  display: flex;
  flex: 1;
  min-width: 30%;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.519);
  margin: 3rem;
  border-radius: 20px;
  position: relative;
  padding-bottom: 3rem;
}

.headerRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.picAndLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linksRow {
  display: flex;
  width: 80%;
  padding: 1rem;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.linksRow > a {
  color: rgb(160, 160, 240);
}

.linksRow > a:hover {
  color: rgb(92, 92, 230);
}

.pcImg {
  max-width: 80%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.pcBody {
  padding: 3rem;
}

.cardHoverView {
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
