.pdContainer {
  flex: 1;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.pdLink {
  font-size: 1.2em;
  color: rgb(149, 149, 250);
  margin: 0 2rem;
}

.pdLink:hover {
  color: rgb(58, 58, 179);
}

.pdBody {
  font-size: 1.1em;
}

.pdTech {
  font-style: italic;
}

.pdImgAndDetails {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

.pdImg {
  max-width: 30%;
  max-height: 250px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pdDetails {
  padding: 2rem;
  text-align: center;
  flex: 1;
  max-width: 50%;
}

@media (max-width: 1240px) {
  .pdImg {
    min-width: 50%;
  }
  .pdDetails {
    min-width: 100%;
  }
}

@media (max-width: 1040px) {
  .pdContainer {
    min-width: 80%;
  }
}

@media (max-width: 800px) {
  .pdContainer {
    padding: 1rem;
    max-width: 90%;
  }
  .pdHeaderRow {
    flex-direction: column;
  }
  .pdLink {
    font-size: 1rem;
    margin: 0 1rem;
  }
  .pdImg {
    min-width: 60%;
    max-height: 200px;
  }
  .pdDetails {
    max-width: 100%;
    padding: 0;
    font-size: 0.9rem;
  }
  .pdTitle {
    font-size: 1.8rem;
  }
}
