.pcCont {
  padding: 3rem;
  min-width: 40vw;
  text-align: center;
}

#titleAndLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#titleAndDescriptionToggle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.pcBody {
  font-size: 1.2em;
}

#descriptionToggle {
  font-size: 2rem;
}

#linksRow {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

#picCont {
  position: relative;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.pcImg {
  max-height: 100%;
  max-width: 100%;
}
